@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    
    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    --fonte-nav: 'Jersey 15', cursive
}
* {
    margin: 0px;
    padding: 0px;
}

body {
background-color: var(--cor1);
}
a.externo::after {
    content: '\00A0\1F517';

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);
    
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);

}

nav {
    background-color: var(--cor5);
    padding: 15px;
    text-align: center;
    margin: auto;
    
}
nav a {
    font-family: var(--fonte-nav);
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding-right: 20px;
    transition-duration: 0.3s;
    font-weight: normal;
    font-size: 1.5em;
}

nav a.img1:hover {
    color: #00E741;
    text-shadow: 1px 1px 15px rgb(192, 255, 92);
}

nav a.img2:hover {
    color: #FFFA00;
    text-shadow: 1px 1px 15px rgb(255, 246, 166);
}

nav a.img3:hover {
    color: #3384FF;
    text-shadow: 1px 1px 15px rgb(102, 236, 253);
}

nav a.img4:hover {
    color: #FE2B2A;
    text-shadow: 1px 1px 15px rgb(255, 117, 53); 
}

main {
    background-color: rgb(247, 247, 247);
    min-width: 360px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.486);
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}

main .pequena {
    width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    margin-bottom: 20px;
}

div.video iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    text-align: center;
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor3),transparent);
    font-weight: normal;
    text-indent: 8px;
    border-radius: 5px;
}
main p {
    font-family: var(--fonte-padrao);
    margin: 0px 15px;
    text-align: justify;
    text-indent: 30px;
    padding:  10px;
    line-height: 1.5;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 3px
    ;
}

main a:hover {
    text-decoration: underline;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.623);
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    background-color: var(--cor5);
    color: white;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
    transition-duration: 0.3s;
}
